@page "/cart/{ProductId:int}"
@rendermode InteractiveServer
@using ECommerce.Model
@inject HttpClient http
@inject IJSRuntime JSRuntime
<h3>Cart</h3>

<form>
    <div class="form-group mb-4">
        <label>Customer name</label>
        <input type="text" class="form-control" @bind="Order.CustomerName" />
    </div>
    <div class="form-group mb-4">
        <label>Product name</label>
        <input type="text" class="form-control" @bind="Product.Name" />
    </div>
    <div class="form-group mb-4">
        <label>Quantity</label>
        <input type="text" class="form-control" @bind="Order.Quantity" />
    </div>
    <button type="button" class="btn btn-primary" @onclick="Createorder">Create order</button>
</form>

@code {
    [Parameter]
    public int ProductId { get; set; }
    public OrderModel Order = new OrderModel();
    public ProductModel Product = new ProductModel();

    protected override async Task OnInitializedAsync()
    {
        Order.ProductId = ProductId;
        Product = await http.GetFromJsonAsync<ProductModel>($"https://localhost:7009/api/product/{ProductId}");

        await base.OnInitializedAsync();
    }

    public async Task Createorder()
    {
        var res = await http.PostAsJsonAsync<OrderModel>("https://localhost:7268/api/order", Order);

        if (res.IsSuccessStatusCode)
        {
            await JSRuntime.InvokeVoidAsync("alert", "Order created successfully");
        }
        else
        {
            await JSRuntime.InvokeVoidAsync("alert", "Error creating order");
        }
    }
}
